.postsBlock {
    background-color: #fff;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 3%;
}

.title {
    font-weight: 500;
    font-size: 1.5rem;
    padding: 0 0 1rem 1rem;
    border-bottom: 1px solid #888;
}

.postsWrapper {
    padding-top: 1.5rem;
}

.posts {
    margin: 2rem 0;
}

.post {
    margin: 1rem 0;
}

.btnWrapper {
    margin-top: 10px;
}

.btn {
    color: #fff;
    background-color: #00a3ff;
    border: 0;
    padding: 0.2rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
}

.textArea {
    outline: none;
    resize: none;
    width: 50%;
    height: 100px;
    overflow: hidden;
    padding-left: 0.5rem;
}
