.form {
    outline: none;
    border: 1px solid #888;
    background-color: #fff;
    height: 1.2rem;
}

.formControl.error input,
.formControl.error textarea {
    border: solid red 1px;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    border: solid red 1px;
    color: black;
    font-weight: 700;
    width: 15%;
    padding: 5px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textArea {
    outline: none;
    resize: none;
    overflow: hidden;
}