.main {
    grid-area: n;
    background-color: #EDEEF0;
    width: 200px;
}

.nav {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1rem;
}

.item {
    font-size: 22px;
    text-decoration: none;  
}

.link {
    text-decoration: none;
    color: #00A3FF;
    display: flex;
    cursor: pointer;
    padding-left: 1rem;
}

.link:hover {
    background-color: #DCE3F0;
}


.activeLink {
    color: rgb(58, 56, 56);
}
