.description {
    padding: 30px;
}

.userPhoto {
    width: 200px;
    height: 200px;
}

.contact {
    padding-left: 10px;
}

.formSummaryError {
    border: solid red 1px;
    color: black;
    font-weight: 700;
    width: 15%;
    padding: 5px;
}